  <h1>ismail Bakhach</h1>
  <h2>Angular 15 - Material UI Tutorial</h2>

  <button matBadge="1" matBadgeColor="accent" mat-raised-button matBadgeOverlap="false" color="primary">Welcom</button>
  <br>
  <div>
    <button matBadge="2" matBadgeColor="accent" matBadgeSize="small" mat-raised-button color="primary">Welcom</button>
  </div>
  <br>
  <div>
    <button matBadge="2" matBadgeHidden="false" matBadgeColor="accent" matBadgePosition="before" matBadgeOverlap="false" matBadgeSize="large" mat-raised-button color="primary">Welcom</button>
  </div>
  <br>
  <mat-icon matBadge="3">home</mat-icon>